

/*------------------------------------*\
    #Buttons 
\*------------------------------------*/

@mixin button {
  margin-bottom: rem-calc($level6); 
  transition: none;
  border: 0;
  color: #fff;
  cursor: pointer; 
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: normal;
  padding: 0; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  text-decoration: none; 
  letter-spacing: .075rem;
	text-transform: uppercase;
	font-family: $tertiary-font-family;  

  .button__icon {
    width: rem-calc(26px);
    height: rem-calc(26px); 
  }


  &.is-disabled {
    filter: grayscale(100%);
    cursor: not-allowed;
    pointer-events: none;
    background-color: $quaternary-color;  
  }

  .button__inner {
    width: 100%; 
    height: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
  }
}


@mixin button-primary {
 	background-color: $primary-color; 
   box-shadow: 0 0 20px 8px rgba(119, 119, 119, 0.12); 
   transition: all .2s ease-in-out; 

   &:hover,
   &:focus {
    box-shadow: 0 0 40px 12px rgba(119, 119, 119, 0.06); 
    transform: scale(1.05);
    color: #fff; 
   }
}


@mixin button-secondary {
 background-color: #fff; 
 color: $primary-color;
 box-shadow: 0 0 20px 8px rgba(119, 119, 119, 0.12); 
 transition: all .2s ease-in-out; 

 &:hover,
 &:focus {
 	box-shadow: 0 0 40px 12px rgba(119, 119, 119, 0.06); 
 	transform: scale(1.05);
 }
}

@mixin button-tertiary {
 background-color: transparent; 
 color: #fff; 
 border: 1.5px solid #fff; 
 transition: all .2s ease-in-out; 

 &:hover,
 &:focus {
  background-color: #fff; 
  color: $primary-color;
 }
}



button,
.button {
  @include button()
}


.button--primary {
  @include button-primary; 
}

.button--secondary {
  @include button-secondary; 
}

.button--tertiary {
  @include button-tertiary; 
}




.button--small {
  height: rem-calc(38px);
  padding-right: rem-calc($level2); 
  padding-left: rem-calc($level2);
  @include text-mini();
}

.button--medium {
  height: rem-calc(48px);
  padding-right: rem-calc($level2); 
  padding-left: rem-calc($level2);
  @include text-micro();
}


.button--expanded {
  width: 100%;
}

