

/*------------------------------------*\
    #Buttons 
\*------------------------------------*/

@mixin button {
  margin-bottom: rem-calc($level6); 
  transition: none;
  border: 0;
  color: #fff;
  cursor: pointer; 
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: normal;
  padding: 0; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  text-decoration: none; 
  letter-spacing: .5px;
	text-transform: uppercase;
	font-family: $tertiary-font-family;  

  .icon {
    width: rem-calc(42);
    height: rem-calc(26px); 
  }


  &.is-disabled {
    filter: grayscale(100%);
    opacity: .4; 
    cursor: not-allowed;
  }
}


@mixin button-primary {
 	background-color: $primary-color; 
}


@mixin button-secondary {
 background-color: #fff; 
 color: $primary-color;
 box-shadow: 0 0 20px 8px rgba(119, 119, 119, 0.12); 
 transition: all .3s ease-in-out; 

 &:hover,
 &:focus {
 	box-shadow: 0 0 40px 12px rgba(119, 119, 119, 0.06); 
 	transform: scale(1.05);
 }
}


button,
.button {
  @include button()
}


.button--primary {
  @include button-primary; 
}

.button--secondary {
  @include button-secondary; 
}



.button--small {
  height: rem-calc(36px);
  padding-right: rem-calc($level2); 
  padding-left: rem-calc($level2);
}

.button--medium {
  height: rem-calc(52px);
  padding-right: rem-calc($level2); 
  padding-left: rem-calc($level2);
}


.button--expanded {
  width: 100%;
}

