
/*------------------------------------*\
    #Colors 
\*------------------------------------*/

// Royal Blue
$primary-color: #19335F; 


// Royal Gray
$secondary-color: #A0A0A0; 


// Royal Light Gray
$tertiary-color: #F0F0F0; 


// Royal Darker Gray
$quaternary-color: #5d5b5b;


// Royal Blue
$accent-color: #19335F; 

// Body Color
$body-color: $primary-color; 




/*------------------------------------*\
    #Blacks n greys
\*------------------------------------*/


$off-black: #191919;
$grey-light: #F6F6F6;
$grey--mid: #808083;
$grey--dark: #444444;
$black-translucent: rgba(0,0,0, .85);




/*------------------------------------*\
    #Social Media Colors
\*------------------------------------*/


$blue-twitter: #55ACEE;
$blue-facebook: #3b5998;
$blue-vimeo: #1ab7ea; 
$blue-instagram: #517fa4; 
$red-pinterest: #cb2027; 



/*------------------------------------*\
    #UI Colors 
\*------------------------------------*/

//$warning-color: #F07181; 
$warning-color: #ae0f0f;


