/*============================================================================
  Form scaffolding
    - Selectors setup for you to style form elements how you want
    - Focus, error, and disabled states are set to be extended
==============================================================================*/
input,
textarea,
select {
  border-radius: 0;
  max-width: 100%;
  font-family: $primary-font-family; 
  color: $quaternary-color; 

  &:focus {
    // You should add some focus styles
  }

  &[disabled] {
    cursor: default;
    background-color: $color-disabled;
    border-color: $color-disabled-border;
  }
}

textarea {
  min-height: 100px;
}

/*================ Custom select style ================*/
select {
  @include prefix(appearance, none, webkit moz spec);
  background-position: right center;
  background: {
    image: url($svg-select-icon);
    repeat: no-repeat;
    position: right 10px center;
    color: transparent;
  }
  padding-right: 28px;
  text-indent: 0.01px;
  text-overflow: '';
  cursor: pointer;

  /*================ Hide the svg arrow in IE9 ================*/
  .ie9 & {
    padding-right: 10px;
    background-image: none;
  }
}

select::-ms-expand {
  display: none;
}

/*================ Error styles ================*/
input,
select,
textarea {
  padding-left: rem-calc($level2); 

  &.input-error {
    border-color: $color-error;
    background-color: $color-error-bg;
    color: $color-error;
  }
}



@mixin labels() {
  text-transform: uppercase; 
  display: block; 
  color: $quaternary-color; 
  margin-bottom: rem-calc($level1); 

  @include media-query($medium-up) {
    @include  h6(); 
  }
}




label {
  @include labels(); 
}


input {
  border: 1.5px solid $primary-color;
  width: 100%; 

}


  // .email-pop-up__email-field {
  //   display: flex; 
  //   align-items: center; 
  //   justify-content: start; 
  //   flex-direction: column; 
  //   max-width: 23rem;
  //   margin-right: auto;
  //   margin-left: auto;

  //   @include media-query($large-up) {
  //     flex-direction: row; 
  //     max-width: 90%; 
  //   }
  
  //   .input-wrapper {
  //     @include media-query($large-up) {
  //       width: 60%; 
  //     }
  //   }

  //   input {
  //     width: 100%;
  //     height: rem-calc(48px); 
  //     margin-bottom: rem-calc($level3);
  //     border-radius: 0; 
  //   }


  //   div {
  //     width: 100%;
  //   }

  //   button {
  //     background-color: $primary-color; 
  //     text-transform: uppercase; 
  //     outline: 0;
  //     border: none; 
  //     height: rem-calc(48px); 
  //     color: #fff;
  //     margin-bottom: 0; 
  //     width: 100%;

  //     @include media-query($large-up) {
  //       margin-bottom: 1rem; 
  //     }
  //   }

  //   .button-container {
  //     @include media-query($large-up) {
  //       width: 40%; 
  //     }
  //   }
  // }



.input-wrapper {
  position:  relative; 
  width: 100%; 

  input {
    padding-bottom: 0; 
    padding-top: .5rem; 
    height: rem-calc(48px); 
    margin-bottom: rem-calc($level2);  

    &.error {
        border-color: $warning-color;
    }
  }
  
  label {
    position: absolute; 
    top: .75rem; 
    left: rem-calc($level2); 
    transition: all .2s ease-in-out;
    text-transform: capitalize; 

  }
    
  label.error {
      position: fixed;
      left: -9999px;
      opacity: 0;
  }

  &.is-active {
    
    label {
      top: rem-calc(3px);
      @include text-mini();
      color: $primary-color;
      line-height: 1; 
    }

    input {
      outline: 0;
    }
  }

  &.is-filled {
    
    label {
      top: rem-calc(3px);
      @include text-mini();
      line-height: 1; 
    }

    input {
      outline: 0;
    }
  }
}


.input-wrapper--secondary {
  background-color: transparent; 

  input {
    background-color: transparent; 
    border: none;
    border-bottom: 1.5px solid #fff;
    color: $tertiary-color;
  }
  
  label {
    color: $secondary-color;
  }

  &.is-active {
    
    label {
      color: #fff;
    }
  }

  &.is-filled {
    
    label {
      color: #fff; 
    }
  }
}

.radio-wrapper {
  position: relative;
  padding-left: 40px;
  text-transform: uppercase; 
  font-family: 'Gotham-Black'; 
  letter-spacing: 0.075rem;
  font-weight: normal; 
  margin-bottom: 1.25rem;
  color: $primary-color;
  padding-top: 5px; 
  margin-right: rem-calc($level4);
  display: flex; 
  align-items: center; 
  @include h6();

  @include media-query($medium-up) {
    padding-left: 32px; 
    padding-top: 2px; 
    margin-bottom: 1rem; 
    @include text-micro();
  }

  input {
    position: absolute;
    left: 0;
    opacity: 0; 
  }
    
  label.error {
    position: fixed;
    left: -9999px;
    opacity: 0;
  }

  .checkmark {
        border-radius: 100%;
        position: absolute;
        left: -1px;
        top: 0;
        border: 2px solid $primary-color;
        height: rem-calc(26px);
        width: rem-calc(26px);

        @include media-query($medium-up) {
          height: rem-calc(26px);
          width: rem-calc(26px);  
        }

        &:after {
        content: " "; 
        height: rem-calc(20px);
        width: rem-calc(20px);
        border-radius: 100%;
        position: absolute; 
        z-index: 1; 
        background-color: $primary-color; 
        opacity: 0; 
        top: 0; 
        right: 0; 
        bottom: 0; 
        left: 0; 
        margin: auto; 

        @include media-query($medium-up) {
          height: rem-calc(26px);
          width: rem-calc(26px);      
        }
      }
    }

  input:checked ~ .checkmark:after {
    opacity: 1; 
  }
}


.radio-wrapper--small {
  height: 1rem; 
  padding-left: 1.5rem; 
  label {
    @include h6(); 

    @include media-query($large-up) {
      @include text-micro(); 
    }
  }

  .checkmark {
    height: rem-calc(20px);
    width: rem-calc(20px);

    @include media-query($medium-up) {
      height: rem-calc(18px);
      width: rem-calc(18px);  
    }

    &:after {
      height: rem-calc(16px);
      width: rem-calc(16px);

      @include media-query($medium-up) {
        height: rem-calc(12px);
        width: rem-calc(12px);      
      }
    }
  }
}


.radio-wrapper--secondary {
  color: #fff;
  .checkmark {
    border-color: #fff;

    &:after {
      background-color: #fff;
    }
  }
}



#mc_embed_signup div.mce_inline_error {
  margin: 0 0 1em 0;
  padding: 5px 10px;
  background-color: transparent; 
  font-weight: bold;
  z-index: 1;
  color: $warning-color;
  width: 100%;
  display: block;
  position: absolute;
  bottom: rem-calc(-26px);
  @include text-micro(); 
}

.mc-field-group  {
  position: relative; 
}





