

/*------------------------------------*\
    #Margin and Padding Values  
\*------------------------------------*/


$level1: 6;
$level2: 12; 
$level3: 16;
$level4: 18;
$level5: 24; 
$level6: 30;  
$level7: 36; 
$level8: 48; 
$level9: 60; 

