

/*------------------------------------*\
    #Sections
\*------------------------------------*/


section {
	padding-bottom: rem-calc($level7 + $level7);
	width: 100%; 
	
	@include media-query($medium-up) {
		padding-bottom: rem-calc($level7 + $level7 + $level4);
	} 

	@include media-query($large-up) {
		padding-bottom: rem-calc($level7 + $level7 + $level5);
	} 
}

.section--main {
	margin-top: rem-calc(112px);

	@include media-query($medium-up) {
		margin-top: rem-calc(148px);
	}
}
