{% paginate collection.products by 12 %}
<div class="collection" data-collection>

  <header role="banner" class="collection__header">
    <div class="container-fluid">
      <div class="row">
         <div class="col-sm-12">
            <h1 class="headline  collection__header__headline">{{ collection.title }}</h1>
         </div>
      </div>
    </div>
  </header>
  
  <section class="collection__products">
    <div class="container-fluid  container-fluid--flushed">
      <div class="row">
        {% for product in collection.products %}
        
        <div class="col-sm-6  col-md-6  col-lg-4">
            {%include 'product-thumbnail', product: product%}
        </div>
        {% endfor %}
      
      
      </div>
    </div>
  </section>
  
  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}
  {% endpaginate %}
</div>