<article class="about-us-narrative">
	
	<h1 class="hide-elem">
		The Royal Highnie Story
	</h1>
	<div>

	<div class="container-fluid">
		<div class="narrative-section">
			<div class="row stretch-md">
				<div class="col-sm-12">
					<div class="row reverse-md middle-md center-md">
						<div class="col-sm-12 col-md-6">
						<h2>
						Once upon a highnie...
						</h2>
							<p>
								The story began as a quest to create the perfect boxer short. 
							We viewed it as locating the perfect home for the family jewels. 
							</p>
							
							<p>
							It needed a custom home, handmade, including a spacious ballroom with full seating and a sturdy front entrance so  that no one slips out unexpectedly. 
							</p>
						</div>
						<div class="col-sm-12 col-md-6">
							<div class="narrative-section__image">
								<img src="{{'boxers.svg' | asset_url}}" alt="">
							</div>
					</div>
					</div>
					</div>
				</div>
			</div>
		</div>
				
				
		<div class="narrative-section">
			<div class="row stretch-md">
				<div class="col-sm-12">
					<div class="row middle-md">
						<div class="col-sm-12 col-md-6">
							<div class="narrative-section__body">
								<p>
									This home should be build with the finest 400 thread count Pima cotton with virtually no shrinkage (on our part). 
								</p>
							</div>
						</div>
						<div class="col-sm-12 col-md-6">
							<div class="narrative-section__image">
									<img src="{{'cotton.svg' | asset_url}}" alt="">
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>

		<div class="narrative-section">
			<div class="row stretch-md">
				<div class="col-sm-12">
					<div class="row reverse-md middle-md">
						<div class="col-sm-12 col-md-6">
							<div class="narrative-section__body">
								<p>
									Through the years we have grown to include loungewear extraordinaire for the entire family. 
								</p>
							</div>
						</div>
						<div class="col-sm-12 col-md-6">
							<div class="narrative-section__image">
									<img src="{{'wand.svg' | asset_url}}" alt="">
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>


				<div class="narrative-section">
			<div class="row">
				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-12 col-md-6">
							<div class="narrative-section__body">
								<p>
									So behold! We present to you the Royal Highnies. The only place that deserves to house all the family jewels. 
								</p>
								<p>
									Our loungewear has been personally tried and test for over 20 years on family, friends, acquantances and a few rock stars. 
									</p>
									<p>
									Enjoy your Royal Highnies experience.  
									</p>
									<a href="/collections/all-products" rel="internal" class="button button--primary  button--medium">
										Shop Our Highnies
									</a>
							</div>
						</div>
						<div class="col-sm-12 col-md-6">
							<div class="narrative-section__image">
									<img src="{{'crest.png' | asset_url}}" alt="">
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</article>

