

<div class="section--main"> 

{%section 'store-mapper'%}

<div class="store-list">


	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<div class="store-list__header">
					<h2 class="headline store-list__header__headline">
						Search by State
					</h2>
				</div>
			</div>
		</div>
		<div class="row">	
			<div class="col-sm-12">{{ page.content }}</div>  
		</div>
	</div>
</div>