
{% comment %}
  This snippet provides the template for an empty cart;
{% endcomment %}

<script id="EmptyCartTemplate" type="text/template">
  <div class="off-canvas-cart__empty-state">
    {% raw %}
      <p> 
         {{emptyState}}
      </p>
    {% endraw %}
  </div>
</script>
      