

/*------------------------------------*\
    #Home Page
\*------------------------------------*/




/*------------------------------------*\
    #Hero Header
\*------------------------------------*/

.hero-header {
	position: relative; 
	height: 90vh;
	background-color: $tertiary-color;
 	max-height: 770px;
	overflow: hidden; 
	margin-bottom: rem-calc($level7 + $level7 + $level3);
	padding-bottom: 0; 
	margin-top: rem-calc(90px); 
	background-color: $secondary-color;

 	@include media-query($large-up) {
 		height: 85vh;
 		min-height: rem-calc(600px);
 		max-height: rem-calc(650px); 
		padding-bottom: 0; 
 	}

 	@include media-query($xlarge-up) {
 		height: 88vh;
 		min-height: rem-calc(760px);
 		max-height: rem-calc(800px); 
 	}

	.hero-header__inner {
		position: relative; 
		height: 100%;
		width: 100%;
	}

	.hero-header__slide {
		height: 100%;
		width: 100%;
		position: relative;
		display: flex;
		align-items: center; 
		justify-content: start; 


		.button {
			background-color: $primary-color; 
			color: #fff;
			font-family: $tertiary-font-family; 
			text-transform: uppercase; 
			padding: 12px;
			min-width: 180px;
			margin-right: 12px; 
			display: block; 
			text-align: center;
			margin-bottom: 12px; 
			letter-spacing: 1px; 
			max-width: 312px; 

			&:hover, 
			&:focus {
				font-weight: normal !important; 
			}

			@include media-query($medium-up) {
				max-width: 660px;
				display: inline-block; 
			}

			@include media-query($large-up) {
				min-width: 200px; 
				max-width: 700px; 
			}
		}

		.hero-header__slide__content {
			position: absolute; 
			z-index: 1 ;
			padding-left: 24px;
			padding-right: 24px;
			padding-bottom: 4%; 
			width: 100%;
			text-align: left; 

			@include media-query($medium-up) {
				max-width: 485px; 
				padding-left: 0;
				left: 8%;
			}

			@include media-query($large-up) {
				left: 12%; 
				max-width: rem-calc(580px); 
			}

			@include media-query($xlarge-up) {
				left: 20%; 
			}

			.hero-header__slide__headline {
				max-width: 312px; 
				@include h1(); 

				@include media-query($medium-up) {
					max-width: 100%;
					@include text-kilo(); 
				}

				@include media-query($large-up) {
					@include text-giga(); 
				}
			}

			p {
				color: $quaternary-color; 
				margin-bottom: 36px;
				max-width: 312px; 
				@include h6();

				@include media-query($medium-up) {
					max-width: 100%; 
					@include h5();
				}
			}
		}

		.hero-header__slide__background {
			position: relative; 
			object-fit: cover; 
			height: 100%;
			width: 100%;
			object-position: bottom; 

			img {
				object-fit: cover; 
				height: 100%;
				width: 100%;
				object-position: bottom; 

				@include media-query($medium-up) {
					object-position: center; 
				}
			}
		}
	}
}


.hero-header__slideshow {
	height: 100%;
	object-fit: cover; 
	
	.slick-list {
		height: 100%;
	}
	.slick-track{
		height: 100%; 
	}

	.slick-slide {
		object-fit: cover; 
		height: 100%;
	}

	.slick-dots {
		bottom: 30px; 
	}

	.slick-dots li button:before {
		font-size: 2rem;
	}
}





/*------------------------------------*\
    #Featured Collections
\*------------------------------------*/

.featured-collections {
	width: 100%; 

	.featured-collections__list {
		list-style: none; 
		padding-inline-start: 0;

			@include media-query($medium-up) {
				//margin-right: rem-calc(-1 * $level4);
			}

			@include media-query($large-up) {
				margin-right: rem-calc(-1 * $level5);
				margin-left: rem-calc(-1 * $level5);
			}

	}
	
	.featured-collections__collection {
		 text-decoration: none; 
			margin-bottom: rem-calc($level7); 
			text-align: center; 
			@include h1(); 

			@include media-query($medium-up) {
				padding-right: rem-calc($level3);
				padding-left: rem-calc($level3);
				margin-bottom: rem-calc($level7 + $level2); 
			}

			@include media-query($large-up) {
				padding-right: rem-calc($level5);
				padding-left: rem-calc($level5);
				margin-bottom: rem-calc($level7 + $level4); 
			}

		.featured-collections__collection__image {
			position: relative; 
			padding-bottom: 100%; 
			overflow: hidden; 
			display: block; 
			margin-bottom: rem-calc($level3); 
			transition: all .2s ease-in-out; 

			@include media-query($large-up) {
				margin-bottom: rem-calc($level4); 
			}

			&:hover, 
			&:focus {
				img {
					transform: scale(1.05);
				}
			}

			img {
				top: 0; 
				bottom: 0; 
				left: 0; 
				right: 0;
				height: 100%;
				width: 100%;
				object-fit: cover; 
				position: absolute; 
				transition: all .2s ease-in-out; 
			}
		}

		.featured-collections__collection__name {
			width: 100%; 
			text-align: center; 
			font-weight: 500; 
			font-family: $secondary-font-family; 
			color: $primary-color; 
			margin-bottom: 0;  
			@include h1(); 
		}

		.featured-collections__collection__cta {
			text-decoration: none; 
			color: $secondary-color;
			position: relative; 
			transition: all .2s ease-in-out; 
			@include h4(); 

			&:after {
				position: absolute; 
				bottom: -4px; 
				left: 0; 
				right: 0; 
				content: " ";
				height: 2px;
				width: 100%; 
				background-color: $secondary-color; 
				transition: all .2s ease-in-out; 
			}

			&:hover, 
			&:focus {
				color: $primary-color;

				&:after {
					bottom: -8px;
					background-color: $primary-color; 
				}
			}
		}
	}

	.featured-collections__cta {
		margin-left: auto; 
		margin-right: auto; 
		max-width: 15rem;  

		@include media-query($medium-up) {
			max-width: 13.625rem;
		}
	}
}





/*------------------------------------*\
    #Home Intro Section
\*------------------------------------*/


.home-intro-section {
	text-align: center; 

	.home-intro-section_inner {
		width: 100%; 
	}

	.home-intro-section__headline {
			@include h2(); 
	}

	.home-intro-section__body {
		max-width: rem-calc(660px); 
		margin-right: auto; 
		margin-left: auto; 
		width: 100%;

		@include media-query($medium-up) {
			@include h4(); 
		}
	}
}




/*------------------------------------*\
    #Wholesellers Section
\*------------------------------------*/


.wholesellers-section {
	.wholesellers-section__inner {
		width: 100%; 
		height: 100%; 
	}

	.wholesellers-section__image {
		padding-bottom: 80%; 
		position: relative;
		width: 100%; 
		height: 100%; 
		flex: none; 
		overflow: hidden; 
	
		svg,
		img {
			position: absolute; 
			left: 0; 
			right: 0; 
			bottom: 0; 
			top: 0; 
			width: 100%;
			height: 100%; 
		}
	}

	.wholesellers-section__headline {
		max-width: rem-calc(340px);
		@include h1(); 
	}

	.wholesellers-section__body {
		p {
			@include h4(); 
		}
	}

	.wholesellers-section__cta {
		max-width: rem-calc(220px);
	}
}






