
/*------------------------------------*\
    #Product
\*------------------------------------*/


.product {
	position: relative; 
	overflow: hidden;
	padding-top: rem-calc(80px);
	padding-bottom: rem-calc($level4); 
	//box-shadow: 0 0 12px rgba(0, 0, 0, .14); 

	@include media-query($large-up) {
		margin-bottom: rem-calc(140px); 
	}

	@include media-query($widescreen) {
		margin-bottom: rem-calc(100px); 
	}

	.product__inner {
		margin-right: auto; 
		margin-left: auto; 
		display: flex; 
		flex-direction: column; 
		height: 100%; 

		@include media-query($large-up) {
			flex-direction: row-reverse; 
		}
	}

	.product__images {
		width: 100%; 
		margin-bottom: rem-calc($level7); 

		@include media-query($medium-up) {
	    width: 100%;
	    position: relative;
	    padding-bottom: 105%;
	    overflow: hidden;
		}

		
		li {
			@include media-query($medium-up) {
				padding-bottom: 130%; 
				position: relative; 
				margin-bottom: rem-calc($level5); 
			}
		}

		img {
			width: 100%;

			@include media-query($medium-up) {
				height: 100%; 
				object-fit: cover; 
				position: absolute; 
				top: 0; 
				right: 0; 
				//position: absolute; 
			}
		}

		.swiper-container {
			@include media-query($medium-up) {
		    position: absolute;
		    object-fit: cover;
		    width: 100%;
		    height: 100;
			}
		}
	}

	.product__information {
		padding-bottom: rem-calc($level7); 
		position: relative;
		padding-left: rem-calc($level4);
		padding-right: rem-calc($level4);
		height: 100%; 

		@include media-query($medium-up) {
			top: 0; 
			padding-left: rem-calc($level7);
			padding-right: rem-calc($level7);
			width: 100%;
			display: flex;
			align-items: flex-start;
			flex-direction: column;  
			justify-content: center; 
		}

		@include media-query($large-up) {
			padding-left: rem-calc($level6);
			max-width: 28rem;
		  padding-top: rem-calc(100px);
		}

		.product__information__title {
			margin-bottom: rem-calc($level1); 
			font-family: $secondary-font-family; 
			margin-bottom: rem-calc($level3); 
			@include h1(); 

			@include media-query($medium-up) {
				margin-bottom: rem-calc($level2); 
				max-width: 31rem; 
				@include text-kilo(); 
			} 
		}

		a {
			color: black;
			border-bottom: 3px solid $primary-color;
			text-decoration: none; 

			&:hover, 
			&:focus {
				background-color: $primary-color;
			}
		}
		
		.product__information__pricing {
			display: block; 
			@include h3(); 
			margin-bottom: rem-calc($level5); 

			@include media-query($medium-up) {
				margin-bottom: rem-calc($level4); 
			}
		}
		
		.product__qty {
			display: flex; 
			align-items: flex-start; 
			justify-content: flex-start; 
			flex-direction: column; 
			margin-bottom: rem-calc($level4);  

		  @include media-query($medium-up) {
				margin-bottom: rem-calc($level6); 
			}

			input,  
			button {
				@include h3(); 
			} 
			
			input {
				width: 2.75rem;
				height: 2.5rem;
				margin-right: rem-calc($level2);
				display: flex; 
				align-items: center; 
				justify-content: center;  
				text-align: center; 
				font-family: 1.75rem; 
				border: 2px solid $primary-color;
				color: $primary-color;
			}

			.product__qty__actions {
				display: flex; 
				align-items: center; 
				justify-content: center; 
				flex-direction: row; 
		
				.js-qty {
					display: flex; 
					align-items: center; 
					justify-content: center; 
					flex-direction: row; 
				}
			

				.js-qty__adjust {
					color: $primary-color;
					font-size: 1.75rem; 
					margin-bottom: 0; 
					margin-right: rem-calc($level2); 

					@include media-query($medium-up) {
						font-size: 1.5rem; 
					}
				}
			}
		}



		.product__information__description {
			margin-bottom: rem-calc($level3); 

			@include media-query($medium-up) {
				@include h6();
			}

			.product__information__description__secondary-dscrp {
				display: none; 
				@include text-micro(); 

				span {
					display: none; 
				}
			}
		}
	
		.product__description__toggle {
			background-color: transparent;
			margin-bottom: rem-calc($level2); 
			outline: 0; 
			border: 0; 
			font-weight: bold; 
			text-transform: uppercase; 
		}



		.product__add-to-cart-btn {
			width: 100%; 
			padding: rem-calc($level2); 
			text-align: center; 
			border: 0; 
			outline: 0; 
			border: 3px solid $tertiary-color;
			background-color: $primary-color;
			font-weight: bold; 
			text-transform: uppercase;
			margin-bottom: rem-calc($level3);
			@include h4(); 
			
			@include media-query($medium-up) {
				max-width: rem-calc(200px);  
			}

			&:hover, 
			&:focus {
				background-color: black;
				color: $primary-color;
			}
		}

		.product__buy-btn {
			margin-bottom: rem-calc($level6); 
			max-width: 19rem; 
		}
	}


	.product__details {
		line-height: 1.6; 

		.product__details__headline {
			text-transform: uppercase; 
			margin-bottom: rem-calc($level1); 
			letter-spacing: .075rem; 
			color: $primary-color;
			font-family: $tertiary-font-family;  
			@include h6();
		}


		ul {
			list-style-type: disc;
    	list-style: inside;

			@include media-query($medium-up) {
				@include h5();
			}

			li {
				list-style: inside;
				margin-bottom: rem-calc($level2); 
			}
		}
	}

	.product__options {
		width: 100%; 
		margin-bottom: rem-calc($level2);  
		text-transform: uppercase; 
		display: flex; 
		flex-direction: row; 
		flex-wrap: wrap; 
		position: relative; 

		@include media-query($medium-up) {
			margin-bottom: rem-calc($level4); 
			max-width: 31rem; 
		}
	
		.product__options__label {
			width: 100%; 
			@include labels(); 
			margin-bottom: rem-calc($level4);

			@include media-query($medium-up) {
				margin-bottom: rem-calc($level4);
			}
		}


		.product__options__option {
			background-color: transparent;
			border: none;
			height: rem-calc(40px); 
			width: rem-calc(52px); 
			box-shadow: 0 0 12px rgba(0, 0, 0, .14); 
			position: relative;
			border-right: 3px solid $tertiary-color;
			display: flex; 
			align-items: center; 
			justify-content: center; 
			text-align: center; 
			margin-right: rem-calc($level2); 
			margin-bottom: rem-calc($level2); 
			transition: all .2s ease-in-out;
			transform: scale(1);

			@include  media-query($medium-up) {
				height: rem-calc(44px); 
				width: rem-calc(56px); 
			}

			@include  media-query($large-up) {
				height: rem-calc(40px); 
				width: rem-calc(52px); 
			}

			&.is-sold-out {
				opacity: .3;
				pointer-events: none; 
				text-decoration: line-through;

				input {
					pointer-events: none; 
				}

				label {
				text-decoration: line-through;
				}
			}
			
		 	&:hover, 
		 	&:focus {
				box-shadow: 0 2px 18px rgba(0, 0, 0, .1); 
				transform: scale(1.05);

		 		label {
					color: $primary-color; 
		 		}
		 	}

			input {
				background-color: transparent;
				border: none;
			  height: 100%;
    		width: 100%;
    		opacity: 0; 
			}

			input:checked ~ label {
				background-color: $primary-color;
				color: #fff;
			}

			label {
				position: absolute;
				top: 0; 
				left: 0; 
				right: 0;
				margin: auto;
				bottom: 0;
				width: 100%;
				height: 100%;
				text-align: center; 
				font-weight: bold; 
				display: flex; 
				align-items: center; 
				justify-content: center;
				color: $primary-color; 
			}
		}
	}

	// .product__variants {
	// 	width: 100%; 
	// 	max-width: rem-calc(420px); 
		
	// 	.product__variants__variant {
	// 		width: 50%;
	// 		height: rem-calc(60px);
	// 		color: $primary-color; 

	// 		&.is-sold-out {
	// 			color: red; 
	// 		}
	// 	}
	// }

}


.product-secondary-info {
	padding-left: rem-calc($level4);
	padding-right: rem-calc($level4);
		
 	@include media-query($medium-up) {
		padding-left: rem-calc($level7);
		padding-right: rem-calc($level7);
 	}

	.product-secondary-info__headline {
		max-width: 80%; 
		@include h2(); 
	}

	.product__information__description {
		margin-bottom: rem-calc($level7 + $level3);
	}
	
	.product-secondary-info__body-copy {

		@include media-query($medium-up) {
			max-width: 32rem; 
			left: 0; 
		}

		.product__information__description {
				@include media-query($medium-up) {
					max-width: 30rem; 
					left: 0; 
				}
		}
	}
	.product-secondary-info__list {
		
		.product-secondary-info__list__item {
			margin-bottom: rem-calc($level4); 
			padding-bottom: rem-calc($level4); 
			padding-right: rem-calc($level1); 
			padding-left: rem-calc($level1); 
			display: flex; 
			align-items: center; 
			width: 100%; 
			border-bottom: solid 1px $tertiary-color; 
			
			@include media-query($medium-up) {
				padding-right: rem-calc($level2); 
				padding-left: rem-calc($level2); 
				@include h4();
			}

			.product-secondary-info__list__item__icon {
				margin-right: rem-calc($level4); 
				width: rem-calc(56px);
				height: rem-calc(56px);

				@include media-query($medium-up) {
					width: rem-calc(45px);
					height: rem-calc(45px);
					margin-right: rem-calc($level5); 
				}

				svg {
					fill: $primary-color; 
					height: 100%; 
					width: 100%; 
				}
			}
		}
	}


	.product__extra-info__headline {
		font-family: $secondary-font-family;
		max-width: rem-calc(270px); 
	}
}





/*------------------------------------*\
    #Product
\*------------------------------------*/


.size-chart-trigger {
	position: absolute; 
	right: 0; 
	top: 0; 
	color: $primary-color;
	display: none; 
	text-decoration: underline; 
	@include h6(); 

	&:hover, 
	&:focus {
		text-decoration: none; 
	}

	&.is-visible {
		display: block; 
	}
}

.size-chart {
	position: fixed; 
	z-index: 10; 
	width: 100%;
	height: 100%; 
	top: 0; 
	right: 0; 
	left: 0; 
	bottom: 0; 
	display: flex; 
	align-items: flex-start; 
	justify-content: center; 
	overflow: auto; 
	display: none; 

	@include media-query($medium-up) {
		align-items: center;  
	}

	
	&.is-visible {
		display: flex; 
	}

	&.is-hidden {
		display: none; 
	}

	.size-chart__overlay {
		background-color: rgba(0,0,0, 0.6);
		position: fixed;
		left: 0; 
		right: 0; 
		bottom: 0; 
		top: 0;  
		width: 100%; 
		height: 100%; 
		overflow: auto; 
	}

	.size-chart__inner {
		left: 0; 
		right: 0; 
		bottom: 0; 
		top: 8rem;
		margin: .75rem;
		position: relative;
		background-color: #fff; 
		padding: rem-calc($level2); 
		border: 4px solid $primary-color; 
		display: flex; 
		width: 100%; 
		margin-bottom: rem-calc($level7); 
		flex-direction: column; 

		@include media-query($medium-up) {
			width: 80vw;
			top: 0;
			margin-bottom: rem-calc($level3); 
			padding: rem-calc($level6); 
			@include h6(); 
		}

		@include media-query($large-up) {
			width: 80vw;
			left: 0; 
			right: 0; 
			margin-left: auto; 
			margin-right: auto;  
			max-width: rem-calc(1000px);
			@include h6(); 
		} 
	}

	.size-chart__close-btn {
		position: absolute; 
		right: 0; 
		top: 0; 
	}

	.size-chart__header {
		text-align: center; 
		width: 100%; 
		letter-spacing: .05rem; 
		text-transform: uppercase; 
		margin-bottom: rem-calc($level2); 

		.size-chart__header__headline {
			@include h6(); 
		}
	}

	.size-chart__contents {
		display: flex; 
		flex-direction: column; 
		
		@include media-query($large-up) {
			flex-direction: row-reverse; 
		}
	}

	.size-chart__chart {
		margin-bottom: rem-calc($level6); 

		@include media-query($medium-up) {
			padding-right: rem-calc($level4);
			width: 49%; 
		}

		@include media-query($medium-up) {
			padding-right: rem-calc($level4);
			padding-left: rem-calc($level4);
		}
	}
	

	.size-chart__charts {
		margin-bottom: rem-calc($level3);

		@include media-query($medium-up) {
			width: 100%; 
			flex-direction: row-reverse; 
			display: flex; 
			flex-wrap: wrap;
			justify-content: flex-end;
		}

		@include media-query($large-up) {
			flex-direction: row-reverse; 
		}

		.size-guide-table {
			width: 100%; 
		}

		.size-name {
	    padding-bottom: rem-calc($level1);
	    font-weight: bold;
	    font-family: $tertiary-font-family; 
	 		display: flex;
    	justify-content: space-between;
		}
	}


	.size-chart__diagram {
		width: 100%; 
		text-align: center; 
		
		@include media-query($medium-up) {
			width: 100%;
			right: 0; 
			left: 0; 
			margin-right: auto; 
			margin-left: auto; 
			text-align: center; 

			img {
				max-width: 14.5rem;
				right: 0; 
				left: 0; 
				margin-right: auto; 
				margin-left: auto; 
			}
		}

		@include media-query($large-up) {
			width: 40%;
		}

		.size-chart__diagram__header {
			margin-bottom: rem-calc($level2); 

			.size-chart__diagram__header__headline {
				letter-spacing: .05rem; 
				text-transform: uppercase; 
				@include h6(); 
			}
		}
	}
}






/*------------------------------------*\
    #Cart Feedback 
\*------------------------------------*/



// .ajaxified-cart-feedback {
//   display: block;
//   line-height: 36px;
//   @include text-micro(); 
// }

// .ajaxified-cart-feedback.success { 
//   color: black;
// }
// .ajaxified-cart-feedback.error { 
//   color: $primary-color;
// } 
// .ajaxified-cart-feedback a {
//   border-bottom: 1px solid;
// }

@keyframes smiley-rotate {
	0% {
		transform: rotate(0);
	}
	50% {
		transform: rotate(36deg);
	}
	100% {
		transform: rotate(-36deg);
	}
}


@keyframes smiley-move {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(20px);
	}
	100% {
		transform: translateX(-20px);
	}
}



.ajaxified-cart-feedback {
  position: fixed;
  width: 90%;
  max-width: rem-calc(340px);
  background-color: $accent-color;
  height: auto;
  z-index: 30;
  top: rem-calc(48px);
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 70vh;
  padding: rem-calc($level2);
  min-height: rem-calc(424px);
  max-height: rem-calc(424px);

  &.is-hidden {
  	display: none;
  }

  @include media-query($medium-up) {
  	top: 0; 
  	bottom: rem-calc(48px);
  	padding: rem-calc($level4);
  }

  @include media-query($large-up) {
 	  max-width: rem-calc(372px);
  	min-height: rem-calc(436px);
  	max-height: rem-calc(436px);
  }

	.ajaxified-cart-feedback__inner {
		text-align: center; 
	}

	.ajaxified-cart-feedback__image {
		margin-right: auto; 
		margin-left: auto;
		text-align: center; 
		height: rem-calc(170px);
		width: rem-calc(170px);
		margin-bottom: rem-calc($level6); 
		transform-origin:  left; 
		animation: smiley-move 2s ease-in-out infinite alternate;

		img {
			transform-origin:  center; 
			animation: smiley-rotate 2s ease-in-out infinite alternate;
		}

		@include media-query($large-up) {
			margin-bottom: rem-calc($level6); 
		}
	}

	h1 {
		margin-bottom: 0;
		text-align: center;  
		@include h1(); 
	}

  p {	
  	text-align: center; 
  	font-weight: bold; 
  	margin-bottom: 0; 
		@include h1(); 
  }

  a {
  	text-align: center; 
  }
}





/*------------------------------------*\
    #Product Reviews Section
\*------------------------------------*/


.product-reviews-section {
	width: 100%; 

	.product-reviews-section__header {

		.product-reviews-section__header__headline {
			text-align: center; 
			margin-bottom: rem-calc($level5);
			@include h2(); 

			@include media-query($medium-up) {
				max-width: rem-calc(300px);
				margin-right: auto; 
				margin-left: auto; 
				@include h1(); 
			}

			@include media-query($large-up) {
				@include text-kilo(); 
			}
		}

		.product-reviews-section__header__crown {
			width: rem-calc(100px);
			margin-right: auto; 
			margin-left: auto; 

		}
	}
}

