
/*------------------------------------*\
    #Product
\*------------------------------------*/


.product {
	margin-bottom: rem-calc($level7 + $level7);
	position: relative; 
	overflow: hidden;
	padding-top: rem-calc(80px);
	//box-shadow: 0 0 12px rgba(0, 0, 0, .14); 

	@include media-query($medium-up) {
		height: 100vh; 
		min-height: rem-calc(900px);
		margin-bottom: -1vh; 
	}

	.product__inner {
		margin-right: auto; 
		margin-left: auto; 
		display: flex; 
		flex-direction: column; 

		@include media-query($medium-up) {
			flex-direction: row-reverse; 
		}
	}

	.product__images {
		width: 100%; 
		margin-bottom: rem-calc($level7); 

		@include media-query($medium-up) {
			height: 100%; 
			width: 50vw; 
			padding-top: rem-calc(70px); 
			min-height: rem-calc(900px);
			padding-right: rem-calc($level4); 
			position: relative; 
		}

		// ul, li {
		// 	height: 100%;
		// 	position: relative; 
		// }
		
		li {
			padding-bottom: 130%; 
			position: relative; 
			margin-bottom: rem-calc($level5); 
		}

		img {
			width: 100%;

			@include media-query($medium-up) {
				height: 100%; 
				object-fit: cover; 
				position: absolute; 
				top: 0; 
				right: 0; 
				//position: absolute; 
			}
		}
	}

	.product__information {
		padding-bottom: rem-calc($level7); 
		position: relative;
		padding-left: rem-calc($level4);
		padding-right: rem-calc($level4);

		@include media-query($medium-up) {
			padding-top: rem-calc(140px);
			right: rem-calc($level2); 
			top: 0; 
			padding-left: rem-calc($level4);
			width: 42vw;
			margin-left: auto; 
			margin-right: auto; 
		}

		@include media-query($large-up) {
			padding-left: rem-calc($level6);
			max-width: 28rem;
		}
		
		@include media-query($widescreen) {
		  padding-top: rem-calc(160px);
		}

		.product__information__title {
			margin-bottom: rem-calc($level1); 
			font-family: $secondary-font-family; 
			margin-bottom: rem-calc($level4); 
			@include h1(); 
			

			@include media-query($medium-up) {
				margin-bottom: rem-calc($level2); 
			} 
		}

		a {
			color: black;
			border-bottom: 3px solid $primary-color;
			text-decoration: none; 

			&:hover, 
			&:focus {
				background-color: $primary-color;
			}
		}
		
		.product__information__pricing {
			margin-bottom: rem-calc($level4); 
			display: block; 
			@include h3(); 

			@include media-query($medium-up) {
				@include h4(); 
			}
		}

		.product__information__description {
			@include media-query($medium-up) {
				@include h6();
			}
		}

		
		.product__qty {
			display: flex; 
			align-items: flex-start; 
			justify-content: flex-start; 
			flex-direction: column; 
			margin-bottom: rem-calc($level4);  

		 @include media-query($medium-up) {
				margin-bottom: rem-calc($level6); 
			}

			input, 
			button {
				@include h3(); 
			} 
			
			input {
				width: rem-calc(60px); 
				height: rem-calc(36px); 
				margin-right: rem-calc($level2);
				display: flex; 
				align-items: center; 
				justify-content: center;  
				text-align: center; 
				font-family: 1.75rem; 
				border: 2px solid $primary-color;
				color: $primary-color;
			}

			.product__qty__actions {
				display: flex; 
				align-items: center; 
				justify-content: center; 
				flex-direction: row; 
		
				.js-qty {
					display: flex; 
					align-items: center; 
					justify-content: center; 
					flex-direction: row; 
				}
			

				.js-qty__adjust {
					color: $primary-color;
					font-size: 1.75rem; 
					margin-bottom: 0; 
					margin-right: rem-calc($level2); 

					@include media-query($medium-up) {
						font-size: 1.5rem; 
					}
				}
			}
		}



		.product__information__description {
			padding-bottom: rem-calc($level2); 

			@include media-query($medium-up) {
				padding-bottom: rem-calc($level3); 
			}

			.product__information__description__secondary-dscrp {
				display: none; 
				@include text-micro(); 

				span {
					display: none; 
				}
			}
		}
	
		.product__description__toggle {
			background-color: transparent;
			margin-bottom: rem-calc($level2); 
			outline: 0; 
			border: 0; 
			font-weight: bold; 
			text-transform: uppercase; 
		}



		.product__add-to-cart-btn {
			width: 100%; 
			padding: rem-calc($level2); 
			text-align: center; 
			border: 0; 
			outline: 0; 
			border: 3px solid $tertiary-color;
			background-color: $primary-color;
			font-weight: bold; 
			text-transform: uppercase;
			margin-bottom: rem-calc($level4);
			@include h4(); 
			
			@include media-query($medium-up) {
				max-width: rem-calc(200px);  
			}

			&:hover, 
			&:focus {
				background-color: black;
				color: $primary-color;
			}
		}
	}


	.product__details {
		.product__details__headline {
			text-transform: uppercase; 
			margin-bottom: rem-calc($level1); 
			letter-spacing: .5px; 
			@include h6();

			@include media-query($medium-up) {
				@include text-micro();
			}
		}

		.product__details__list {

			@include media-query($medium-up) {
				@include h6();
			}

			li {
				margin-bottom: rem-calc($level1); 
			}
		}
	}

	.product__options {
		width: 100%; 
		margin-bottom: rem-calc($level2);  
		text-transform: uppercase; 
		display: flex; 
		flex-direction: row; 
		flex-wrap: wrap; 

		@include media-query($medium-up) {
			margin-bottom: rem-calc($level4); 
			min-width: rem-calc(320px);
		}
	
		.product__options__label {
			width: 100%; 
			@include labels(); 
		}


		.product__options__option {
			background-color: transparent;
			border: none;
			height: rem-calc(40px); 
			width: rem-calc(52px); 
			box-shadow: 0 0 12px rgba(0, 0, 0, .14); 
			position: relative;
			border-right: 3px solid $tertiary-color;
			display: flex; 
			align-items: center; 
			justify-content: center; 
			text-align: center; 
			margin-right: rem-calc($level2); 
			margin-bottom: rem-calc($level2); 
			transition: all .2s ease-in-out;
			transform: scale(1);

			@include  media-query($medium-up) {
				height: rem-calc(38px); 
				width: rem-calc(48px); 
			}

			&.is-sold-out {
				opacity: .3;
				pointer-events: none; 
				text-decoration: line-through;

				input {
					pointer-events: none; 
				}

				label {
				text-decoration: line-through;
				}
			}
			
		 	&:hover, 
		 	&:focus {
				box-shadow: 0 2px 18px rgba(0, 0, 0, .1); 
				transform: scale(1.05);

		 		label {
					color: $primary-color; 
		 		}
		 	}

			input {
				background-color: transparent;
				border: none;
			  height: 100%;
    		width: 100%;
    		opacity: 0; 
			}

			input:checked ~ label {
				background-color: $primary-color;
				color: #fff;
			}

			label {
				position: absolute;
				top: 0; 
				left: 0; 
				right: 0;
				margin: auto;
				bottom: 0;
				width: 100%;
				height: 100%;
				text-align: center; 
				font-weight: bold; 
				display: flex; 
				align-items: center; 
				justify-content: center;
				color: $primary-color; 
			}
		}
	}

	// .product__variants {
	// 	width: 100%; 
	// 	max-width: rem-calc(420px); 
		
	// 	.product__variants__variant {
	// 		width: 50%;
	// 		height: rem-calc(60px);
	// 		color: $primary-color; 

	// 		&.is-sold-out {
	// 			color: red; 
	// 		}
	// 	}
	// }

	.product__extra-info {
		padding-bottom: rem-calc($level7);

		.product__extra-info__headline {
			font-family: $secondary-font-family;
			max-width: rem-calc(270px); 
		}
	}
}


/*------------------------------------*\
    #Cart Feedback 
\*------------------------------------*/



// .ajaxified-cart-feedback {
//   display: block;
//   line-height: 36px;
//   @include text-micro(); 
// }

// .ajaxified-cart-feedback.success { 
//   color: black;
// }
// .ajaxified-cart-feedback.error { 
//   color: $primary-color;
// } 
// .ajaxified-cart-feedback a {
//   border-bottom: 1px solid;
// }

@keyframes smiley-rotate {
	0% {
		transform: rotate(0);
	}
	50% {
		transform: rotate(36deg);
	}
	100% {
		transform: rotate(-36deg);
	}
}


@keyframes smiley-move {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(20px);
	}
	100% {
		transform: translateX(-20px);
	}
}



.ajaxified-cart-feedback {
  position: fixed;
  width: 90%;
  max-width: rem-calc(340px);
  background-color: $accent-color;
  height: auto;
  z-index: 30;
  top: rem-calc(48px);
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 70vh;
  padding: rem-calc($level2);
  min-height: rem-calc(424px);
  max-height: rem-calc(424px);

  &.is-hidden {
  	display: none;
  }

  @include media-query($medium-up) {
  	top: 0; 
  	bottom: rem-calc(48px);
  	padding: rem-calc($level4);
  }

  @include media-query($large-up) {
 	  max-width: rem-calc(372px);
  	min-height: rem-calc(436px);
  	max-height: rem-calc(436px);
  }

	.ajaxified-cart-feedback__inner {
		text-align: center; 
	}

	.ajaxified-cart-feedback__image {
		margin-right: auto; 
		margin-left: auto;
		text-align: center; 
		height: rem-calc(170px);
		width: rem-calc(170px);
		margin-bottom: rem-calc($level6); 
		transform-origin:  left; 
		animation: smiley-move 2s ease-in-out infinite alternate;

		img {
			transform-origin:  center; 
			animation: smiley-rotate 2s ease-in-out infinite alternate;
		}

		@include media-query($large-up) {
			margin-bottom: rem-calc($level6); 
		}
	}

	h1 {
		margin-bottom: 0;
		text-align: center;  
		@include h1(); 
	}

  p {	
  	text-align: center; 
  	font-weight: bold; 
  	margin-bottom: 0; 
		@include h1(); 
  }

  a {
  	text-align: center; 
  }
}





/*------------------------------------*\
    #Product Reviews Section
\*------------------------------------*/


.product-reviews-section {
	width: 100%; 

	.product-reviews-section__header {

		.product-reviews-section__header__headline {
			text-align: center; 
			margin-bottom: rem-calc($level5);
			@include h2(); 

			@include media-query($medium-up) {
				max-width: rem-calc(300px);
				margin-right: auto; 
				margin-left: auto; 
				@include h1(); 
			}
		}

		.product-reviews-section__header__crown {
			width: rem-calc(100px);
			margin-right: auto; 
			margin-left: auto; 

		}
	}
}

