

/*------------------------------------*\
    #Retailers Page
\*------------------------------------*/


@keyframes animate-stroke-hover {
	0% {
		transform: scaleX(0);
		transform-origin: right;
	}

	50% {
		transform: scaleX(1);
		transform-origin: right;
	}


	60% {
		transform: scaleX(1);
		transform-origin: left;
	}

	100% {
		transform-origin: left;
		transform: scaleX(0);
	}
}



.retailers-header {
	text-align: center; 
	margin-bottom: rem-calc($level7);

	.retailers-header__headline {
		@include h2();

		@include media-query($medium-up) {
			@include h1(); 
		}

	}

  .retailers-header__body {
		max-width: 23rem; 
		margin-right: auto; 
		margin-left: auto;

		@include media-query($medium-up) {
			margin-bottom: rem-calc($level7); 
		}
  }
}




/*------------------------------------*\
    #Store Mapper
\*------------------------------------*/

.store-mapper {
	margin-bottom: rem-calc($level7 + $level7); 
}


.store-locator-container {
	max-width: 1100px; 
	margin-right: auto; 
	width: 100%; 
	padding-left: 2%; 
	padding-right: 2%; 
	margin-left: auto; 
	margin-bottom: rem-calc($level7 + $level7); 
}

.store-locator-title {
	text-align: center; 
}

div#storemapper .storemapper-powered-by {
	display: none !important; 
	opacity: 0; 
}

#storemapper #storemapper-form #storemapper-go {
	background-color: $primary-color !important; 
	font-family: 'Gotham-Black', sans-serif !important;
	letter-spacing: 1px; 
	font-weight: normal !important; 
}

#storemapper a {
	color:  $primary-color !important;
	//border-color: $primary-color !important;
}

#storemapper #storemapper-list li h4 {
	font-size: 18px !important;
	color: $primary-color !important; 
}

#storemapper #storemapper-list li.storemapper-selected {
	background-color: #4b6193 !important;
	color: #fff !important;

	a, 
	h4 {
		color: #fff !important;
		//border-color: #fff !important;
	}
}

#storemapper #storemapper-list li.storemapper-selected p.storemapper_view a {
	background-color: #fff !important; 
	border-color: #fff !important;
	color: $primary-color !important;
}

.storemapper-map-directions {
	display: inline-block;
	font-family: 'Gotham-Black';
	letter-spacing: .5px;
	margin-top: 12px !important;
	font-weight: normal !important;
}

#storemapper #storemapper-list li .storemapper-email {
	display: none !important;
}






/*------------------------------------*\
    #Store List
\*------------------------------------*/


.store-list {
	
	.store-list__header {
		.store-list__header__headline {
			text-align: center; 
			margin-bottom: rem-calc($level7);
			@include h2();

			@include media-query($medium-up) {
				@include h1(); 
			}
		}
	}

	.page-width {

		@include media-query($medium-up) {
			transform: translateX(7vw);
		}
	}
}




/*------------------------------------*\
    #Retailers
\*------------------------------------*/


.retailers {
  margin-bottom: rem-calc($level7);
	
	.retailers-title {
		text-align: center; 
	}

	h3 {
		font-family: $primary-font-family; 
		letter-spacing: 0.5rem;
		margin-bottom: rem-calc($level5);  
		text-align: left; 
		@include h5(); 

		@include media-query($medium-up) {
			@include h4(); 
		}
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		line-height: 26px;
		margin-bottom: rem-calc($level7 + $level7); 
	}

	li {
		margin-bottom: rem-calc($level2); 
	}

	li a {
		color: $primary-color;
		text-decoration: none; 
		font-family: $secondary-font-family; 
		position: relative; 
		display: block; 
		@include h4(); 

		@include media-query($medium-up) {
			@include h3(); 
		}

		&:after {
			content: " ";
			position: absolute; 
			height: 2px;  
			background-color: $primary-color; 
			left: -1.5rem;
    	transform-origin: right;
    	width: 1.25rem;
    	top: 0;
    	bottom: 0;
    	margin: auto;
    	transform: scaleX(0); 
    	display: block; 
		}

		&:hover,
		&:focus {
			
			&:after {
				animation: animate-stroke-hover .6s $primary-easing forwards;
			}
		}
	}
}


.retailers .cat-grid-item.two-thirds ul {
  columns: 3;
}


.retailers .cat-grid-item li a:hover {
  font-weight: normal;
  color: #1f305a;
}

.retailers-content {
  color: $primary-color; 
  padding: rem-calc($level4); 
	min-height: 50vh; 
	position: relative; 
  flex-direction: column;
  display: none; 
  padding-bottom: rem-calc($level7 + $level5); 

	@include media-query($medium-up) {
	  flex-wrap: wrap; 
	  flex-direction: row;
		align-content: flex-start; 	
	}
	

	&.is-visible {
		display: flex; 
	}

	&.is-hidden {
		display: none; 
	}

	&:before {
		background-color: #F6F6F6;
		position: absolute; 
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
		content: " ";
		z-index: -1; 
		height: 102%;
		bottom: 0;  
		top: 0; 
	}
	
	.retailers-content__country {
		width: 100%; 
		flex-grow: 1; 
		text-align: center; 
		flex: none;
		font-family: $secondary-font-family; 
		margin-bottom: rem-calc($level6); 

		h3 {
			@include h3(); 
	
			@include media-query($medium-up) {
				@include h2(); 
			}
		}
	}
	
	.retailers-content__store {
		width: 100%;
		
		@include media-query($medium-up) {
			width: 48%;
			width: 40%;
	    text-align: cente;
	    position: relative;
	    right: -17%;
		} 

		h3 {
			margin-bottom: rem-calc($level2); 
		}
	}

	p {	
		color: $quaternary-color; 
		@include h4(); 
	}
}

.retailers-content .one-whole {
  text-align: center;
  margin: 20px auto;
}
.retailers-content .one-whole img {
  max-width: 45px;
  height: auto;
}

.retailers-content .one-quarter {
  margin-bottom: 25px;
  min-height: 90px;
}


